{% extends 'evenement/evenementback.html.twig' %}

{% block title %}Calendrier des événements{% endblock %}

{% block louay %}
    <h1>Calendrier des événements</h1>

    <div id="calendar"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: [
                    {% for event in events %}
                        {
                            title: '{{ event.nomEve }}',
                            start: '{{ event.dateDeve|date('Y-m-d') }}',
                            {% if event.dateFeve %}
                                end: '{{ event.dateFeve|date('Y-m-d') }}',
                            {% endif %}
                        },
                    {% endfor %}
                ]
            });
            calendar.render();
        });
    </script>
{% endblock %}