<form method="post" action="{{ path('app_avisp_delete', {'idap': avisp.idap}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avisp.idap) }}">
    <button class="btn">Delete</button>
</form>
