{% extends 'base.html.twig' %}

{% block title %}New Avisp{% endblock %}

{% block body %}
    <h1>Create new Avisp</h1>

    {{ include('avisp/_form.html.twig') }}

    <a href="{{ path('app_avisp_index') }}">back to list</a>
{% endblock %}
